:root {
    --primary: #0f172a;
    --accent:#14b8a6;
    --background:#f5f3f4;
    --card:#ffffff; 
    --text:#1e293b;
    --muted: #64748b;
    --border: #e2e8f0;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body{
    font-family:Arial, sans-serif;
    background:var(--background);
    color: var(--text);
    line-height: 1.6;
}

/*CONTAINER*/
.container{
    width: 88%;
    max-width: 1100px;
    margin: auto;
}

/*NAVBAR*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--border);
}
.logo {
    font-weight: bold;
    font-size: 1rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem; 
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--muted);
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.nav-links a:hover{
    color: var(--accent);
}

/*HERO*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    min-height: 75vh;
}

.hero-text{
    max-width: 700px;
}
.hero-tag {
    display: inline-block;
    padding: 0.3rem 1rem;
    border: 1px solid var(--border);
    border-radius: 999px;
    font-size: 0.75rem;
    color: var(--muted);
    margin-bottom: 1.5rem;
}
.hero h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.hero h2{
    color: var(--muted);
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.hero p {
   max-width: 650px;
   margin: auto;
   color: var(--muted);
   margin-bottom: 2rem;
   line-height: 1.7;
}
/* ABOUT*/
.about-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 7rem 0;
}
.about-text {
    flex: 1;
}
.about-image img {
    width:420px;
    border-radius: 12px;
    object-fit: cover;
}
.about-tag {
    color: var(--muted);
    letter-spacing: 1px;
    font-size: 0.8rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}
.about-text h1 {
    font-size: 4rem;  
    line-height: 1.1;
    margin-bottom: 2rem;
}
.about-text p {
    color: var(--muted);
    line-height: 1.8;
    max-width: 600px;
}
.background-section {
    display: flex;
    gap: 5rem;
    padding-bottom: 7rem;
}
.background-left {
    flex: 1;
}
.background-right {
    flex: 2;
}
.background-right p {
    color: var(--text);
    line-height: 1.9;
    margin-bottom: 2rem;
}
.expertise-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.feature-card {
    background: #ead8bd;
}
.small-card {
    max-width: 250px;
}
.career {
    padding: 7rem 0;
}
.career-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
}
.career-item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 3rem;
    padding: 2rem 0;
    border-top: 1px solid var(--border);
}
.career-date {
    color: var(--muted);
    font-size: 0.9rem;
}
.career-role span {
    color: var(--muted);
    font-size: 0.9rem;
}
.career-description {
    color: var(--text);
    line-height: 1.8;
}

/*CONTACT*/
.contact-page {
    padding: 6rem 0;
}
.contact-header {
    max-width: 700px;
    margin-bottom: 5rem;
}
.contact-header {
    max-width: 700px;
    margin-bottom: 5rem;
}
.contact-header h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem; 
}
.contact-header p {
    color: var(--muted);
    line-height: 1.8;
}
.contact-layout {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}
.contact-info {
    flex: 1;
}
.contact-form-wrapper {
    flex: 1.5;
    background: white;
    padding: 2rem;
    border: 1px solid var(--border);
    border-radius: 12px;
}
.contact-label {
    font-size: 0.8rem;
    color: var(--muted);
    margin-bottom:1rem;
    letter-spacing: 1px;
}
.email-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}
.network-card {
    background: white; 
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid var(--border);
    margin-bottom: 1rem;
}
.map-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.form-row {
    display: flex;
    gap: 1rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}
input, select, textarea {
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    background: #fafafa;
    font-family: inherit;
}
textarea {
    resize: vertical;
}

/*RESUME*/
.resume-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 5rem 0;
}
.resume-info h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.resume-info h2 {
    color:var(--muted);
    margin-bottom: 2rem;
}
.resume-contact {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    color: var(--text);
}
.resume-image img {
    width: 120px;
    border-radius: 12px;
}
.resume-section {
    padding-bottom: 6rem;
}
.resume-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
}
.resume-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
    margin-bottom: 4rem;
}
.resume-date {
    color: var(--muted);
    font-size: 0.9rem;
}
.resume-content h3 {
    margin-bottom: 0.5rem;
}
.resume-content span {
    color: var(--muted);
    display: block;
    margin-bottom: 1.5rem;
}
.resume-content ul {
    margin-bottom: 1rem;
    line-height: 1.8;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.skill-group {
    background: white;
    padding: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 10px;
}
.skill-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}
.chip {
    padding: 0.35rem 0.75rem;
    border: 1px solid var(--border);
    border-radius:6px;
    font-size: 0.85rem;
    background: white;
}
.publication-card {
    background: white;
padding: 2rem;
border: 1px solid var(--border);
margin-bottom: 2rem;
}
.awards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.download-section {
    text-align: center;
    padding: 4rem 0;;
}

/* BUTTON */
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 0.95rem;
}
.btn-primary {
    background: var(--primary);
    color: white;
}
.btn-secondary {
    background: white;
    border: 1px solid var(--border);
    color: var(--text);
}
.btn:hover {
    opacity: 0.9;
}

/* SECTION TITLE */
.section-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

/* INTERESTS */
.interests {
    padding: 6rem 0;
}
.interests-grid {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

.interest-card {
    background: var(--card);
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    transition: 0.3s ease;
}

.interest-card:hover {
    transform: translateY(-5px);
}

.large-card{
    min-height: 260px;
}
.dark-card {
    background: #020617;
    color: white;
}
.wide-card {
    background-image: url("../images/waves.jpg");
    background-size: cover;
    background-position: center;
}
/* BLOG PREVIEW */
.blog-preview {
    padding: 6rem 0;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.view-all-link {
    color: var(--accent);
    text-decoration: none;
    font-size: 0.9rem;
}

.blog-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
   border: 1px solid var(--border);
   transition: 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.blog-content {
    padding: 1.5rem;
}
.blog-meta {
    color: var(--accent);
    font-size: 0.8rem;
}

.blog-content h3 {
    margin-bottom: 1rem; 
} 

.blog-content p {
    color: var(--muted);
    margin-bottom: 1.5rem;
}

/* BLOG CONTENT */
.blog-post-page {
    padding: 5rem 0;
}
.back-link {
    text-decoration: none;
    color: var(--muted);
    display: inline-block;
    margin-bottom: 2rem;
}
.post-tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.tag {
    border: 1px solid var(--border);
    padding: 0.35rem 0.75rem;
    border-radius: 6px;
    font-size: 0.8rem;
}
.post-title {
    font-size: 4rem;
    max-width: 900px;
    line-height: 1.1;
    margin-bottom: 3rem;
}
.author-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.author-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.author-info img {
    width: 50px;
    border-radius: 50%;
}
.blog-hero-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 5rem;
}
.article-content {
    max-width: 850px;
    margin: auto;
}
.article-content p {
    line-height: 2;
    margin-bottom: 2rem;
    color: var(--text);
}
.article-content h2 {
    margin: 4rem 0 2rem;
    font-size: 2.5rem;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding-left:2rem;
    margin: 3rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.code-block {
    background: #0f172a;
    color: white;
    padding: 2rem;
    border-radius: 12px;
    overflow-x: auto;
    margin: 3rem 0;
}
.author-card {
    display: flex;
    gap: 2rem;
    background: white;
    border: 1px solid var(--border);
    padding: 2rem;
    border-radius: 12px;
    margin: 5rem auto;
    max-width: 850px;
}
.post-title {
    font-size: 2.5rem;
}

/* FOOTER */
.footer {
    border-top: 1px solid var(--border);
    padding: 4rem 0;
    margin-top: 6rem;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 1.5rem;
}

.footer-links a {
    color: var(--muted);
    text-decoration: none;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero-buttons {
        flex-direction: column;
    }
    .interests-grid {
        grid-template-columns: 1fr;
    }
    .blog-grid {
        grid-template-columns: 1fr;
    }
    .section-header {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    .wide-card {
        grid-column: span 1;
    }
    .footer-content {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
    .nav-links {
        gap: 1rem;
    }
    .resume-hero {
    flex-direction: column;
    text-align: center;
}
.resume-item {
    grid-template-columns: 1fr;
}
.skills-grid {
    grid-template-columns: 1fr;
}
.awards-grid {
    grid-template-columns: 1fr;
}
.contact-layout {
    flex-direction: column;
}
.form-row {
    flex-direction: column;
}
.contact-header h1 {
    font-size: 2.5rem;
}
.author-card {
    flex-direction: column;
}
.author-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
}